.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.grid__col {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .grid__col {
    width: 60%;
  }
}