.card {
  padding: 0;
  width: 200px;
  margin: 10px auto 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.card #heading { text-align: center; font-size: 20px;}
.card figure { margin: 0 auto; width: 50%; margin: 0 auto; }

img { width: 100%;} /* Added */

.container {
  width: 500px;
}
